<p style="padding-right: 10px">داشبورد </p>
<cdk-virtual-scroll-viewport (scrolledIndexChange)="getNextBatch($event)" class="wrapper mat-elevation-z2" tvsItemSize>
  <table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8" mat-table style="margin-right: 6rem">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell>ردیف</th>
      <td *matCellDef="let element" mat-cell> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> نام</th>
      <td *matCellDef="let element" mat-cell> {{element.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="like">
      <th *matHeaderCellDef mat-header-cell>
        <mat-icon>star</mat-icon>
      </th>
      <td *matCellDef="let element" mat-cell>
        <mat-icon>star_border</mat-icon>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="deleteEmployee">
      <th *matHeaderCellDef mat-header-cell style="padding-right: 2rem">

      <td *matCellDef="let element" mat-cell>
        <div [style.opacity]="element.show ? 100 : 0">
          <button color="primary" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
          <button color="primary" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>

    <tr (mouseleave)="handleMouseLeave(element)" (mouseover)="handleMouseOver(element)"
        *matRowDef="let element; columns: displayedColumns;"
        mat-row>
    </tr>
  </table>
</cdk-virtual-scroll-viewport>
