<mat-toolbar color="primary">
    <a routerLink="/" mat-flat-button disableRipple color="primary">
        <mat-icon>call_split</mat-icon>
        <span class="logo-name"> اجراگر خط لوله</span>
    </a>

    <span class="pipeline-info">
        <mat-form-field floatLabel="never">
            <mat-label>نام خط لوله</mat-label>
            <input
                #pipelineNameInput="matInput"
                matInput
                type="text"
                [(ngModel)]="pipelineName"
            />
            <button
                [style.visibility]="pipelineNameInput.focused ? '' : 'hidden'"
                matSuffix
                mat-icon-button
            >
                <mat-icon>edit</mat-icon>
            </button>
        </mat-form-field>

        <button title="اجرا" mat-icon-button mat-raised-button mat-tip>
            <mat-icon class="mat-icon-rtl-mirror" color="primary">
                play_arrow
            </mat-icon>
        </button>
    </span>

    <nav>
        <ul>
            <li>
                <button title="دانلود" mat-icon-button>
                    <mat-icon>file_upload</mat-icon>
                </button>
            </li>

            <li>
                <button title="پنجره تنظیمات" mat-icon-button>
                    <mat-icon>vertical_split</mat-icon>
                </button>
            </li>

            <li>
                <button title="پنجره پیش‌نمایش" mat-icon-button>
                    <mat-icon>horizontal_split</mat-icon>
                </button>
            </li>

            <li>
                <button mat-button [matMenuTriggerFor]="accountMenu">
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #accountMenu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>manage_accounts</mat-icon>
                        مدیریت حساب
                    </button>
                    <button mat-menu-item>
                        <mat-icon>exit_to_app</mat-icon>
                        خروج
                    </button>
                </mat-menu>
            </li>
        </ul>
    </nav>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div class="config-pane">
            <h2>تجمع</h2>

            <div>
                <h3>گروه‌بندی بر اساس</h3>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <bdo dir="ltr">.Op</bdo>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label>نام متغیر</mat-label>
                            <input
                                matInput
                                type="text"
                                value=".Op"
                                class="propery-input"
                            />
                        </mat-form-field>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <bdo dir="ltr">.Position</bdo>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label>نام متغیر</mat-label>
                            <input
                                matInput
                                type="text"
                                value=".Position"
                                class="propery-input"
                            />
                        </mat-form-field>
                    </mat-expansion-panel>
                </mat-accordion>
                <br />
                <h3>عملیات</h3>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span>
                                    بیشینه
                                    <bdo dir="ltr">.Price</bdo>
                                    به عنوان Total
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <mat-label>نام متغیر</mat-label>
                            <input
                                matInput
                                type="text"
                                value=".Price"
                                class="propery-input"
                            />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>نوع عملیت</mat-label>
                            <input matInput type="text" value="بیشینه" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>نام متغیر خروجی</mat-label>
                            <input
                                matInput
                                type="text"
                                value="Total"
                                class="propery-input"
                            />
                        </mat-form-field>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>

        <div class="config-actions">
            <button mat-raised-button>لغو تغییرات</button>
            <button mat-raised-button color="primary">ذخیره</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content> constent. </mat-sidenav-content>
</mat-sidenav-container>
