<div *ngIf="auth.isLoggedIn" class="contentWrapper">
  <div class="formContent">
    <h2> صفحه ویرایش </h2>
    <div>
      <img [src]="imageSrc" alt="user Icon"/>
    </div>

    <!-- Login Form -->
    <form (submit)="handleEditing()" [formGroup]="form">
      <div class="example-container">
        <label class="profile-changing" for="avatar">تغییر عکس پروفایل</label>
        <input (change)="onFileChange($event)" accept="image/png,image/jpeg" id="avatar" name="avatar"
               style="display: none" type="file"/>

        <mat-form-field appearance="fill" style="margin-left: 0.7rem">
          <mat-label> نام</mat-label>
          <input [(ngModel)]="fullName" formControlName="fullName" matInput name="fullName" required>
          <mat-hint *ngIf="isFieldValid('fullName')">
            نام نباید خالی باشد
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label> ایمیل</mat-label>
          <input [(ngModel)]="email" formControlName="email" matInput required>
          <mat-hint *ngIf="isFieldValid('email')">
            لطفا ایمیل معتبری وارد کنید
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>نام کاربری</mat-label>
          <input #input [(ngModel)]="userName" formControlName="username" matInput maxlength="20" required>
          <mat-hint *ngIf="isFieldValid('username')">
            نام کاربری نباید خالی باشد
          </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>رمز عبور جدید</mat-label>
          <input #password [type]="hide ? 'password' : 'text'" formControlName="password" matInput pattern=".{0}|.{4,}"
                 title="خالی یا حداقل 4 کاراکتر">
          <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
                  matSuffix
                  type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint *ngIf="isFieldValid('password') && password.value.length == 0">
            رمز عبور نباید خالی باشد
          </mat-hint>
          <mat-hint *ngIf="isFieldValid('password') && password.value.length != 0">
            طول رمز عبور حداقل 4 کاراکتر است
          </mat-hint>
        </mat-form-field>
      </div>
      <button [disabled]="!form.valid || !userData || disableBtn" color="primary" mat-raised-button type="submit">
        ویرایش
      </button>
    </form>

    <!-- home linking -->
    <div class="formFooter">
      <a routerlink="/"> انصراف </a>
    </div>

  </div>

</div>
