<div *ngIf="node !== undefined">
    <h3>اطلاعات دیتاست</h3>
    <mat-form-field class="wide-field">
        <mat-label>دیتاست</mat-label>
        <mat-select [(ngModel)]="node.config.datasetId" required>
            <mat-option></mat-option>
            <mat-option [value]="1"> اطلاعات کاربری </mat-option>
            <mat-option [value]="2"> اطلاعات بانکی </mat-option>
            <mat-option [value]="3"> اطلاعات آبااجدادی </mat-option>
        </mat-select>
        <mat-error>لطفاً یک دیتاست انتخاب کنید</mat-error>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="node.config.overwrite"> رونویسی </mat-checkbox>
</div>
