<mat-toolbar color="primary">
    <a routerLink="/" mat-flat-button disableRipple color="primary">
        <mat-icon>call_split</mat-icon>
        <span class="logo-name"> سناریوچی</span>
    </a>

    <span class="pipeline-info">
        <button title="اجرا" mat-icon-button mat-raised-button mat-tip>
            <mat-icon class="mat-icon-rtl-mirror" color="primary">
                play_arrow
            </mat-icon>
        </button>

        <mat-form-field floatLabel="never">
            <mat-label>نام سناریو</mat-label>
            <input
                #pipelineNameInput="matInput"
                matInput
                type="text"
                [(ngModel)]="pipeline.name"
            />
            <button
                [style.visibility]="pipelineNameInput.focused ? '' : 'hidden'"
                matSuffix
                mat-icon-button
                disabled
                style="color: inherit"
            >
                <mat-icon>edit</mat-icon>
            </button>
        </mat-form-field>
    </span>

    <nav>
        <button title="دانلود" mat-icon-button (click)="exportPipeline()">
            <mat-icon>file_upload</mat-icon>
        </button>

        <!-- <mat-button-toggle-group
            name="ingredients"
            aria-label="Ingredients"
            multiple
        >
            <mat-button-toggle
                ><mat-icon
            color="primary">vertical_split</mat-icon></mat-button-toggle
            >
            <mat-button-toggle
                ><mat-icon>horizontal_split</mat-icon></mat-button-toggle
            >
            <mat-button-toggle
                ><mat-icon class="mat-icon-rtl-mirror">vertical_split</mat-icon></mat-button-toggle
            >
        </mat-button-toggle-group> -->

        <button mat-button [matMenuTriggerFor]="accountMenu">
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #accountMenu="matMenu">
            <button mat-menu-item>
                <mat-icon>manage_accounts</mat-icon>
                مدیریت حساب
            </button>
            <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                خروج
            </button>
        </mat-menu>
    </nav>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened disableClose>
        <h2 class="no-selected-node" *ngIf="selectedNode === undefined">
            <mat-icon>info</mat-icon>
            پردازشی انتخاب نشده
        </h2>
        <div class="config-pane" *ngIf="selectedNode !== undefined">
            <mat-form-field class="node-name-input">
                <input
                    #nodeNameInput="matInput"
                    matInput
                    type="text"
                    [(ngModel)]="selectedNode.name"
                />
                <button
                    [style.visibility]="nodeNameInput.focused ? '' : 'hidden'"
                    matSuffix
                    mat-icon-button
                    disabled
                    style="color: inherit"
                >
                    <mat-icon>edit</mat-icon>
                </button>
                <mat-hint class="node-type-info">
                    <mat-icon
                        [class.mat-icon-rtl-mirror]="
                            pipelineNodeInfo[selectedNode.type].iconMirrored
                        "
                    >
                        {{ pipelineNodeInfo[selectedNode.type].iconName }}
                    </mat-icon>
                    <span>{{ pipelineNodeInfo[selectedNode.type].title }}</span>
                </mat-hint>
            </mat-form-field>

            <div [ngSwitch]="selectedNode.type">
                <app-input-config
                    *ngSwitchCase="PipelineNodeType.datasetInput"
                    [config]="$any(selectedNode.config)"
                ></app-input-config>
                <app-output-config
                    *ngSwitchCase="PipelineNodeType.datasetOutput"
                    [config]="$any(selectedNode.config)"
                ></app-output-config>
                <app-filter-config
                    *ngSwitchCase="PipelineNodeType.filter"
                    [config]="$any(selectedNode.config)"
                ></app-filter-config>
                <app-sort-config
                    *ngSwitchCase="PipelineNodeType.sort"
                    [config]="$any(selectedNode.config)"
                ></app-sort-config>
                <app-join-config
                    *ngSwitchCase="PipelineNodeType.join"
                    [config]="$any(selectedNode.config)"
                ></app-join-config>
                <app-aggregate-config
                    *ngSwitchCase="PipelineNodeType.aggregate"
                    [config]="$any(selectedNode.config)"
                ></app-aggregate-config>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-diagram
            #diagram
            [pipeline]="pipeline"
            (selectedNode)="selectedNode = $event"
        ></app-diagram>
    </mat-sidenav-content>
</mat-sidenav-container>
