@use '../../../../theme.scss' as theme;
@use '~@angular/material' as mat;

:host {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.mat-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

.logo-name {
    font-size: mat.font-size(theme.$typography-config, 'title');
}

.pipeline-info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: var(--density-large);
    font-size: mat.font-size(theme.$typography-config, 'subheading-2');

    ::ng-deep .mat-form-field-underline {
        background-color: transparent;
    }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--density-large);
}

.mat-sidenav {
    width: 30rem;
}

.no-selected-node {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: var(--density-normal);
    padding: var(--density-larger);

    color: theme.mat-color(theme.$foreground-palette, secondary-text);
}

.config-pane {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: var(--density-large);
    padding-top: 0;
    gap: var(--density-larger);

    ::ng-deep .wide-field {
        width: 100%;
    }

    ::ng-deep .propery-input {
        direction: ltr;
        text-align: left;
    }

    ::ng-deep .config-title-add {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }
}

.node-name-input {
    font-size: mat.font-size(theme.$typography-config, 'title');

    ::ng-deep .mat-form-field-underline {
        background-color: transparent;
    }
}

.node-type-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--density-small);
}

.error-list-item {
    color: theme.mat-color(theme.$warn-palette);
}
