@use '../../../../../theme.scss' as theme;

mat-panel-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    user-select: none;
}

.drag-handle {
    color: theme.mat-color(theme.$foreground-palette, secondary-text);
    margin-left: var(--density-small);
    cursor: move;
}

.delete-row {
    display: flex;
    flex-direction: row-reverse;
}
