<div *ngIf="config !== undefined">
    <div class="config-title-add">
        <h3>گروه‌بندی بر اساس</h3>
        <button mat-icon-button color="primary" (click)="addGroupBy()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-accordion *ngIf="config.groupBy !== undefined">
        <mat-expansion-panel
            *ngFor="
                let groupBy of config.groupBy;
                let index = index;
                trackBy: trackByIndex
            "
            #groupByPanel
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span>
                        <bdo dir="ltr">{{ groupBy }}</bdo>
                    </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="wide-field">
                <mat-label>نام متغیر</mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="config.groupBy[index]"
                    class="propery-input"
                    required
                />
            </mat-form-field>
            <div class="delete-row">
                <div></div>
                <button
                    mat-raised-button
                    color="warn"
                    (click)="removeGroupBy(index)"
                >
                    <mat-icon>delete</mat-icon>
                    حذف
                </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <br />

    <div class="config-title-add">
        <h3>عملیات</h3>
        <button mat-icon-button color="primary" (click)="addOperation()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-accordion *ngIf="config.operations !== undefined">
        <mat-expansion-panel
            *ngFor="let operation of config.operations; let index = index"
            #operationPanel
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span>
                        <span>
                            {{
                                aggregateOperationTypeInfo[operation.type].title
                            }}
                            <bdo dir="ltr">{{ operation.fieldName }}</bdo>
                            به عنوان
                            <bdo dir="ltr">{{ operation.outputFieldName }}</bdo>
                        </span>
                    </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="wide-field">
                <mat-label>نام متغیر</mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="operation.fieldName"
                    class="propery-input"
                    required
                />
            </mat-form-field>
            <mat-form-field class="wide-field">
                <mat-label>نوع عملیت</mat-label>
                <mat-select [(ngModel)]="operation.type">
                    <mat-option
                        *ngFor="let type of aggregateOperationType"
                        [value]="type"
                    >
                        {{ aggregateOperationTypeInfo[type].title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="wide-field">
                <mat-label>نام متغیر خروجی</mat-label>
                <input
                    matInput
                    type="text"
                    [(ngModel)]="operation.outputFieldName"
                    class="propery-input"
                    required
                />
            </mat-form-field>
            <div class="delete-row">
                <div></div>
                <button
                    mat-raised-button
                    color="warn"
                    (click)="removeOperation(index)"
                >
                    <mat-icon>delete</mat-icon>
                    حذف
                </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
