<div class="card">
<mat-card>
  <mat-card-header >
    <mat-icon mat-card-avatar> home </mat-icon>
    <mat-card-title style="padding-top: 0.3rem"> نام دیتاست </mat-card-title>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul style="margin: 0" fxLayout="row" fxLayoutGap="1rem">
        <li>
          <button mat-icon-button
          class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon color="primary" >settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button
            class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon color="primary" >delete</mat-icon>
          </button>
        </li>

      </ul>
    </div>

  </mat-card-header>

    <mat-card-content>
    <div fxFlex fxLayout="row" >
      <ul fxLayout="row" fxLayoutGap="20rem">
        <li>
          <span style="font-weight: bold"> نام کانکشن : </span>
          <span >لوکال</span>
        </li>
        <li>
          <span style="font-weight: bold"> نام مالک : </span>
          <span > نام مالک</span>
        </li>
        <li>
          <span style="font-weight: bold"> تاریخ ایجاد : </span>
          <span >99/08/02</span>
        </li>

      </ul>
    </div>
  </mat-card-content>
</mat-card>


  <mat-card style="margin-top: 5rem">
    <mat-card-header style="align-items: normal">
      <mat-icon mat-card-avatar> home </mat-icon>
      <mat-card-title style="padding-top: 0.3rem"> نام دیتاست </mat-card-title>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul style="margin: 0" fxLayout="row" fxLayoutGap="1rem">
          <li>
            <button mat-icon-button
                    class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon color="primary" >settings</mat-icon>
            </button>
          </li>
          <li>
            <button mat-icon-button
                    class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon color="primary" >delete</mat-icon>
            </button>
          </li>

        </ul>
      </div>

    </mat-card-header>

    <mat-card-content>
      <div fxFlex fxLayout="row" >
        <ul fxLayout="row" fxLayoutGap="20rem">
          <li>
            <span style="font-weight: bold"> نام کانکشن : </span>
            <span >لوکال</span>
          </li>
          <li>
            <span style="font-weight: bold"> نام مالک : </span>
            <span > نام مالک</span>
          </li>
          <li>
            <span style="font-weight: bold"> تاریخ ایجاد : </span>
            <span >99/08/02</span>
          </li>

        </ul>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 5rem">
    <mat-card-header style="align-items: normal">
      <mat-icon mat-card-avatar> home </mat-icon>
      <mat-card-title style="padding-top: 0.3rem"> نام دیتاست </mat-card-title>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul style="margin: 0" fxLayout="row" fxLayoutGap="1rem">
          <li>
            <button mat-icon-button
                    class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon color="primary" >settings</mat-icon>
            </button>
          </li>
          <li>
            <button mat-icon-button
                    class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon color="primary" >delete</mat-icon>
            </button>
          </li>

        </ul>
      </div>

    </mat-card-header>

    <mat-card-content>
      <div fxFlex fxLayout="row" >
        <ul fxLayout="row" fxLayoutGap="20rem">
          <li>
            <span style="font-weight: bold"> نام کانکشن : </span>
            <span >لوکال</span>
          </li>
          <li>
            <span style="font-weight: bold"> نام مالک : </span>
            <span > نام مالک</span>
          </li>
          <li>
            <span style="font-weight: bold"> تاریخ ایجاد : </span>
            <span >99/08/02</span>
          </li>

        </ul>
      </div>
    </mat-card-content>
  </mat-card>

</div>
