<!--<div class="card">-->
<!--<mat-card >-->
<!--  <mat-card-header >-->
<!--    <mat-icon mat-card-avatar> home </mat-icon>-->
<!--    <mat-card-title  style="padding-top: 0.3rem;cursor: pointer"> نام دیتاست </mat-card-title>-->
<!--    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">-->
<!--      <ul style="margin: 0" fxLayout="row" fxLayoutGap="1rem">-->
<!--        <li>-->
<!--          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--          <mat-icon title="افزودن به مورد علاقه" color="accent">star</mat-icon>-->
<!--          </button>-->
<!--        </li>-->
<!--        <li>-->
<!--          <button mat-icon-button-->
<!--          class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--            <mat-icon color="primary" >settings</mat-icon>-->
<!--          </button>-->
<!--        </li>-->
<!--        <li>-->
<!--          <button mat-icon-button-->
<!--            class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--            <mat-icon color="primary" >delete</mat-icon>-->
<!--          </button>-->
<!--        </li>-->

<!--      </ul>-->
<!--    </div>-->

<!--  </mat-card-header>-->

<!--    <mat-card-content >-->
<!--    <div fxFlex fxLayout="row" >-->
<!--      <ul fxLayout="row" fxLayoutGap="20rem">-->
<!--        <li>-->
<!--          <span style="font-weight: bold"> نام کانکشن : </span>-->
<!--          <span >لوکال</span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span style="font-weight: bold"> نام مالک : </span>-->
<!--          <span > نام مالک</span>-->
<!--        </li>-->
<!--        <li>-->
<!--          <span style="font-weight: bold"> تاریخ ایجاد : </span>-->
<!--          <span >99/08/02</span>-->
<!--        </li>-->

<!--      </ul>-->
<!--    </div>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->


<!--  <mat-card style="margin-top: 5rem ">-->
<!--    <mat-card-header style="align-items: normal">-->
<!--      <mat-icon mat-card-avatar> home </mat-icon>-->
<!--      <mat-card-title  style="padding-top: 0.3rem;cursor: pointer;"> نام دیتاست </mat-card-title>-->
<!--      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">-->
<!--        <ul style="margin: 0" fxLayout="row" fxLayoutGap="1rem">-->
<!--          <li>-->
<!--            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--              <mat-icon  color="accent">star</mat-icon>-->
<!--            </button>-->
<!--          </li>-->
<!--          <li>-->
<!--            <button mat-icon-button-->
<!--                    class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--              <mat-icon color="primary" >settings</mat-icon>-->
<!--            </button>-->
<!--          </li>-->
<!--          <li>-->
<!--            <button mat-icon-button-->
<!--                    class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--              <mat-icon color="primary" >delete</mat-icon>-->
<!--            </button>-->
<!--          </li>-->

<!--        </ul>-->
<!--      </div>-->

<!--    </mat-card-header>-->

<!--    <mat-card-content>-->
<!--      <div fxFlex fxLayout="row" >-->
<!--        <ul fxLayout="row" fxLayoutGap="20rem">-->
<!--          <li>-->
<!--            <span style="font-weight: bold"> نام کانکشن : </span>-->
<!--            <span >لوکال</span>-->
<!--          </li>-->
<!--          <li>-->
<!--            <span style="font-weight: bold"> نام مالک : </span>-->
<!--            <span > نام مالک</span>-->
<!--          </li>-->
<!--          <li>-->
<!--            <span style="font-weight: bold"> تاریخ ایجاد : </span>-->
<!--            <span >99/08/02</span>-->
<!--          </li>-->

<!--        </ul>-->
<!--      </div>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->

<!--  <mat-card style="margin-top: 5rem ">-->
<!--    <mat-card-header style="align-items: normal">-->
<!--      <mat-icon mat-card-avatar> home </mat-icon>-->
<!--      <mat-card-title  style="padding-top: 0.3rem;cursor: pointer"> نام دیتاست </mat-card-title>-->
<!--      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">-->
<!--        <ul style="margin: 0" fxLayout="row" fxLayoutGap="1rem">-->
<!--          <li>-->
<!--            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--              <mat-icon  color="accent">star</mat-icon>-->
<!--            </button>-->
<!--          </li>-->
<!--          <li>-->
<!--            <button mat-icon-button-->
<!--                    class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--              <mat-icon color="primary" >settings</mat-icon>-->
<!--            </button>-->
<!--          </li>-->
<!--          <li>-->
<!--            <button mat-icon-button-->
<!--                    class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--              <mat-icon color="primary" >delete</mat-icon>-->
<!--            </button>-->
<!--          </li>-->

<!--        </ul>-->
<!--      </div>-->

<!--    </mat-card-header>-->

<!--    <mat-card-content>-->
<!--      <div fxFlex fxLayout="row" >-->
<!--        <ul fxLayout="row" fxLayoutGap="20rem">-->
<!--          <li>-->
<!--            <span style="font-weight: bold"> نام کانکشن : </span>-->
<!--            <span >لوکال</span>-->
<!--          </li>-->
<!--          <li>-->
<!--            <span style="font-weight: bold"> نام مالک : </span>-->
<!--            <span > نام مالک</span>-->
<!--          </li>-->
<!--          <li>-->
<!--            <span style="font-weight: bold"> تاریخ ایجاد : </span>-->
<!--            <span >99/08/02</span>-->
<!--          </li>-->

<!--        </ul>-->
<!--      </div>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->

<!--</div>-->
<!--*ngFor="let hero in dataSets"-->
<h2>پیش‌نمایش</h2>

<cdk-virtual-scroll-viewport (scroll)="onTableScroll($event)"
                             class="wrapper mat-elevation-z2" tvsItemSize>
  <table #table  [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>

    <ng-container *ngFor="let column of displayedColumns; let index = index" matColumnDef="{{column}}" >
      <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ column }}</th>
      <td *matCellDef="let element" mat-cell> {{ element.data[index] }} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>

    <tr *matRowDef="let element; columns: displayedColumns;" mat-row></tr>

  </table>
</cdk-virtual-scroll-viewport>
