@use '~@angular/material' as mat;

//.card
//{
//  width:90%;
//  padding: 2rem;
//}
//mat-icon
//{
//  font-size: 1.5vw;
//}
//ul li
//{
//  list-style: none;
//}
//.mat-card-title
//{
//  &:hover
//  {
//    color: #14b4b4;
//  }
//}

table {
  width: 70%;
  height: 600px;
}

cdk-virtual-scroll-viewport {
  height: 100vh;
}

.wrapper {
  height: 94%;
}
.mat-row:nth-child(even)
{
  background-color:#EDF1F5;
}

.mat-row:nth-child(odd){
  background-color:#FDFDFB;}

