.wrapper {
  height: 100%;
  overflow: auto;
}

table {
  width: 70%;
}

td , th
{
  width: 25%;
}

.mat-form-field {
  font-size: 1.4rem;
  margin-right: 6rem;
  width: 70%;
}

.col-sm {
  width: 7rem;
}

cdk-virtual-scroll-viewport {
  height: 100vh;
}
