@use '~@angular/material' as mat;
@use 'theme.scss' as theme;

/* Webfont: Yekan */
@font-face {
    font-family: 'Yekan';
    src: url('assets/font/Yekan.eot'); /* IE9 Compat Modes */
    src: url('assets/font/Yekan.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('assets/font/Yekan.woff2') format('woff2'),
        /* Modern Browsers */ url('assets/font/Yekan.woff') format('woff'),
        /* Modern Browsers */ url('assets/font/Yekan.otf') format('opentype'),
        /* Open Type Font */ url('assets/font/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-display: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;

    --density-smallest: #{theme.$density-smallest};
    --density-smaller: #{theme.$density-smaller};
    --density-small: #{theme.$density-small};
    --density-normal: #{theme.$density-normal};
    --density-large: #{theme.$density-large};
    --density-larger: #{theme.$density-larger};
    --density-largest: #{theme.$density-largest};
}

html,
body {
    height: 100%;
}

body {
    font-size: 160%;
    font-family: 'Yekan', Roboto, 'Helvetica Neue', sans-serif;
}

@include mat.core(theme.$theme);
@include mat.all-component-themes(theme.$theme);

.custom-dialog-container .mat-dialog-container {
    background-color: theme.mat-color(theme.$primary-palette);
    width: 500px;
}

.filterDialog
{
  width: 140rem;
  height: 65rem;
}

.red-snackbar {
    background: #B00020;
}
.green-snackbar
{
  background-color: green;
}
.purple-snackbar
{
  background-color: theme.mat-color(theme.$primary-palette);
}
