<p style="padding-right: 10px">ساید بار </p>

<mat-nav-list>

  <div class="profile">
    <div class="sidebarHeader">
      <h2>{{name}}</h2>
    </div>
    <img *ngIf="!imgSrc" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQd326Nlb2A9bZXER6wetzJ_cBaaz6JLljAg&usqp=CAU" alt="">
    <img *ngIf="imgSrc" alt="" [src] = "imgSrc" >
  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"> دیتاست </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">  پیش نمایش </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/user/edit_profile"> ویرایش پروفایل </a>

  <mat-divider></mat-divider>


</mat-nav-list>
