<p style="padding-right: 10px">ساید بار </p>

<mat-nav-list>

  <div class="profile">
    <div class="sidebarHeader">
      <h2>{{name}}</h2>
    </div>
    <img alt="" [src] = "imgSrc" >
  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"> دیتاست </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"> پست (پیش نمایش) </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/user/edit_profile"> ویرایش پروفایل </a>

  <mat-divider></mat-divider>


</mat-nav-list>
