@use '../../../../theme.scss' as theme;
@use '~@angular/material' as mat;

::ng-deep :root {
    --arrow-color: #{theme.mat-color(theme.$primary-palette)};
}

.diagram-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-size: 4rem 4rem;
    background-image: linear-gradient(to right, #eee 0.1rem, transparent 0.1rem),
        linear-gradient(to bottom, #eee 0.1rem, transparent 0.1rem);
}

.card-container {
    width: 100%;
    height: 100%;

    &.cdk-drag-dragging {
        cursor: grab;
    }
}

.offset-container {
    width: 0;
    height: 0;
    overflow: visible;
}

.mat-card {
    position: absolute;
    width: 20rem;
    height: 8rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    cursor: move;

    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    &.snap-animation {
        transition: transform 200ms ease-in-out,
            box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @include mat.elevation(2);
    &:active {
        @include mat.elevation(6);
    }
}

.mat-card-title,
.mat-card-subtitle {
    text-align: center;
}

.drop-placeholder {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.input-drop-placeholder {
    position: absolute;
    top: 4rem - 1rem;
    right: -1rem;

    background-color: theme.mat-color(theme.$primary-palette, 'lighter');
}

.output-drop-placeholder {
    position: absolute;
    top: 4rem - 1rem;
    left: -1rem;
    background-color: theme.mat-color(theme.$primary-palette);
}

.line-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.top-right-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--density-large);
}
