@use '../../../../theme.scss' as theme;
@use '~@angular/material' as mat;

::ng-deep :root {
    --arrow-color: #{theme.mat-color(theme.$primary-palette)};
}

.mat-sidenav-container {
    width: 100%;
    height: 100%;
}

.diagram-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-size: 4rem 4rem;
    background-image: linear-gradient(to right, #eee 0.1rem, transparent 0.1rem),
        linear-gradient(to bottom, #eee 0.1rem, transparent 0.1rem);
}

.card-container {
    width: 100%;
    height: 100%;

    &.cdk-drag-dragging {
        cursor: grab;
    }

    .diagram-card {
        position: absolute;
    }
}

.offset-container {
    width: 0;
    height: 0;
    overflow: visible;
}

.diagram-card {
    width: 20rem;
    height: 8rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    user-select: none;
    cursor: pointer;

    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    &.snap-animation {
        transition: transform 200ms ease-in-out,
            box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @include mat.elevation(2);
    &.selected {
        @include mat.elevation(4, theme.mat-color(theme.$primary-palette), 3);
    }

    &.cdk-drag-dragging {
        @include mat.elevation(6, theme.mat-color(theme.$primary-palette), 3);
        cursor: move;
    }

    .mat-card-title,
    .mat-card-subtitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--density-smaller);
    }
}

.more-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: var(--density-small);
}

.drop-placeholder {
    position: absolute;
    width: 0;
    height: 8rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.input-drop-placeholder {
    top: 0;
    right: 0;
}

.output-drop-placeholder {
    top: 0;
    left: 0;
}

@mixin button-placeholder {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;

    > * {
        position: absolute;
    }
}

.empty-button-placeholder {
    @include button-placeholder;
    background-color: theme.mat-color(theme.$primary-palette, 'lighter');
}

.full-button-placeholder {
    @include button-placeholder;
    background-color: theme.mat-color(theme.$primary-palette);
}

@mixin drag-button {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.drag-button {
    @include drag-button;
    background-color: theme.mat-color(theme.$primary-palette);
}

.line-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.remove-connection-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    .drag-button {
        display: none;
    }
}

.add-node-button-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: var(--density-large);

    transition: opacity 200ms ease-in;
    opacity: 1;

    &.invisible {
        visibility: hidden;
        opacity: 0;
    }
}

.mat-sidenav {
    width: 20rem;
}

.add-node-pane {
    min-height: 100%;
    padding: var(--density-large);
    background-color: theme.mat-color(theme.$background-palette, 'background');
}

.add-node-list {
    display: flex;
    flex-direction: column;
    gap: var(--density-large);
}

.add-node-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--density-small);

    user-select: none;
    cursor: move;
}

.preview-diagram-card {
    position: absolute;
    transform: translate(50%, -50%);
}
